.pickListButtons {
  padding: 10px;
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pickListButtons button {
  margin-bottom: 5px;
}

.pickListSelect {
  height: 200px !important;
}
